{% raw %}<button onclick="loadMore()" class="btn btn-primary gf-loadmore-btn"><span translatable class="loadmore">{{ translation.product.load_more | default: "Load more" }}</span></button>{% endraw %}
